<!-- Option 1: Include in HTML -->
<script
  src="https://kit.fontawesome.com/617e5bec98.js"
  crossorigin="anonymous"
></script>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#blog"
        aria-expanded="false"
        aria-controls="blog"
      >
        <i class="fa-brands fa-blogger menu-icon"></i>
        <span class="menu-title">Blog</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="blog">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/blog"> View All </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog-create"> Add New </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#listing"
        aria-expanded="false"
        aria-controls="listing"
      >
        <i class="fa-solid fa-list menu-icon"></i>
        <span class="menu-title">Featured Listings</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="listing">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/featuredlist"> View All </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/featuredlist-create">Add From Listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/custom-property-create"
              >Add my listings</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/brokerage">Add Brokerage Listing</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#precondo"
        aria-expanded="false"
        aria-controls="precondo"
      >
        <i class="fa fa-bath menu-icon" aria-hidden="true"></i>
        <!-- <i class="fa-brands fa-blogger menu-icon"></i> -->
        <span class="menu-title">Precondo</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="precondo">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/precondo"> View All </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/precondo-create">Add New</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/enquiry">
        <i class="fa-solid fa-qrcode menu-icon"></i>
        <span class="menu-title">Enquiry</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/meta-data">
        <i class="ti-settings menu-icon"></i>
        <span class="menu-title">Meta Data</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/setting">
        <i class="ti-settings menu-icon"></i>
        <span class="menu-title">Setting</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/about">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">About Page</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#testimonials"
        aria-expanded="false"
        aria-controls="testimonials"
      >
        <i class="fa fa-quote-left menu-icon"></i>
        <span class="menu-title">Testimonials</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="testimonials">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/testimonial"> Testimonials </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonial-create"> Add New </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
