<!-- test_email_template.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <h2>Welcome to Our Website!</h2>

    <p>Dear Test USER,</p>

    <p>Thank you for reaching out on our website.</p>

    <p>We are GrateFull that you have reached our website</p>

    <p>Thank you for reaching us!</p>

    <p>Best regards,<br>Your Website Team</p>

</body>
</html>